@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{box-sizing: border-box; font-family: "Lato" Arial; color: #777;}
.card{
    transition: .2s;
    font-size: 12px;
    border: 1px solid #ddd;
}
.card a{
    text-decoration: none;
}

.card .card-text{
    padding: 0 10px 10px;
    border-top: 1px solid #ddd;
}
.card p{
    margin: 0;
    padding: 10px 10px;
    border-top: 1px solid #ccc;
}
.card h1{
    padding: 10px ;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform :uppercase;
    margin: 0;
}
.card img{
    padding: 15px;
    background-color:#f1f1f1;
    width: 100%;
    display: block
}
