header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    grid-gap: 15px;
    padding: 0;
}
header p{
    text-transform: uppercase;
    margin: 0;
    font-size: 13px;
    border-bottom: 1px solid transparent;
}
.actual{
    border-bottom: 1px solid #353535;
}
header a{
    color:#353535;
    text-decoration: none;
    display: block;
    padding: 20px 0;
    transition: .2s;
    
}
header p:hover{
    border-bottom: 1px solid #a8a8a8;
}
header img{
    width: 100%;
    filter:invert(23%);
    
}
header .logo{
    width: 50px;
}