header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #ccc 0 0 3px;
    grid-gap: 15px;
    padding: 0;
}
header p{
    text-transform: uppercase;
    margin: 0;
    font-size: 13px;
    transition: .2s;
    border-bottom: 1px solid transparent;
}
header a{
    color:#353535;
    text-decoration: none;
    display: block;
    padding: 23px 0;
    transition: .2s;
    
}
header a:hover{
    color:#ff711f
}
header p:hover{
    color:#ff711f !important;
    border-bottom: 1px solid #ff711f;
}
.actual{
    border-bottom: 1px solid #353535;
    border-bottom: 1px solid #ff711f;
}
.actual a{
    color:#ff711f;
}
header img{
    width: 100%;
    filter:invert(23%);
    
}
header .logo{
    width: 50px;
}
header .logo:hover > img{
    transform: rotateY(180deg);
    transition: .8s;
}